.login-pg.overflow-scroll
  .navbar.navbar-default.navbar-inverse.navbar-unauth(role='navigation')
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(ng-click="visitTransactions()") 
          img#logo(src="img/logo-updated.png",alt="Blockchain")
      .navbar-collapse.collapse(ng-class="{'in' : !navCollapsed}", ng-click="navCollapsed=true")
        ul.nav.navbar-nav.navbar-right
          li.item
            a(href="https://www.blockchain.com", translate="HOME")
          li.item
            a(href="https://blockchain.com/about", translate="ABOUT")
          li.item.active
            a(href="#", translate="WALLET")
          li.item
            a(href="https://www.blockchain.info", translate="EXPLORER")
          li.item
            a(href="http://blockchain.com/our-products/blockchain-merchant/", translate="MERCHANT")
          li.item
            a(href="https://blockchain.zendesk.com/", translate="SUPPORT")          

  .container-fluid.login
    .flex.flex-justify(ui-view="alerts")
    .login-box
      header
        hgroup(ng-hide="status.enterkey")
          .flex-between.flex-center.flex-wrap
            h2.em-300.mtn(translate="RECOVER_WALLET")
          p.em-300(translate="RECOVER_WALLET_EXPLAIN")
        hgroup(ng-show="status.enterkey")
          h2.em-300.mtn(translate="CREATE_A_WALLET")
          p.em-300(translate="ALPHA_KEY_EXPLAIN")
      form.form-horizontal(role="form",name="form",novalidate)           
        .form-group(ng-class="{'has-error': errors.mnemonic, 'has-success': success.mnemonic}")
          label.col-sm-4.control-label(translate="RECOVERY_PHRASE")
          .col-sm-6
            input.form-control(type="text",ng-model="fields.mnemonic",autofocus,ng-blur="validate()", ng-focus="errors.mnemonic = null", required)
            span.help-block 
              p {{ errors.mnemonic }}
        .form-group(ng-class="{'has-error': errors.password, 'has-success': success.password}")
          label.col-sm-4.control-label(translate="NEW_PASSWORD")
          .col-sm-6
            input.form-control(type="password", name="password",ng-model="fields.password",autofocus,ng-blur="validate()", ng-focus="errors.password = null", ng-maxlength="255", min-entropy="25" required)
            password-entropy(password="fields.password").help-block  
            span.help-block {{ errors.password }}
        .form-group(ng-class="{'has-error': errors.confirmation, 'has-success': success.confirmation}")
          label.col-sm-4.control-label(translate="CONFIRM_PASSWORD")
          .col-sm-6
            input.form-control(type="password",ng-model="fields.confirmation",on-enter="recover()",autofocus,ng-blur="validate()", ng-focus="errors.confirmation = null")
            span.help-block 
              p {{ errors.confirmation }}
      .row
        .col.xs-12
          button.btn.btn-primary.btn-signup(ng-click="recover()",ng-disabled="!isValid", translate="CONTINUE", ng-show="!working")  
          img(ng-show="working" src="img/spinner.gif")